body{
background: #232F40;
padding: -top:60px;
}
svg{
  width: 40%;
  display: block;
  margin-left: 30%;
}

/*========================
 keyframes
 =========================*/

@keyframes turn{
	0%{
		transform: rotate(0) scale(0);
		opacity:0;
	}
	60%{
		transform: rotate(30deg) scale(1.1);
	}
	80%{
		transform: rotate(20deg) scale(0.9);
	}
	100%{
		transform: rotate(25deg) scale(1);
	}
}
@keyframes pulse{
	60%{
		transform: scale(0.5);
		fill: #dcee5c;
	}
} 
/*===========LINEA-BORDE===========*/


@keyframes linear-borde{
	100%{
		stroke-dashoffset:0;
	}
}


 /*========================
 SVG Style
 =========================*/

.badge *{
	transform-origin: 50% 50%;
}

.stars{
	animation:turn 0.9s ease-out backwards;
}

path{
	animation: pulse .7s 1.6s;
}

path:nth-of-type(2){
	animation-delay:2.2s; 

}
path:nth-of-type(3){
	animation-delay:2.3s; 
}
path:nth-of-type(4){
	animation-delay:2.5s; 
}
.stars-bg{
	stroke-width:2;
	stroke-dasharray: 810;
	stroke-dashoffset:810;
	animation:linear-borde 1.9s linear forwards;
}









